.layout {
  height: 100%;
  width: 100%;
  position: absolute;
}
.header {
  padding: 0 24px;
  display: flex;
  .right {
    margin-left: auto;
  }
}
.container {
  overflow: hidden;
}
.footer {
  text-align: center;
  border-top: 1px solid #e8e8e8;
}
