.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #4facfe, #00f2fe);

  button {
    height: 40px;
    font-size: 18px;
  }
}
